.art_container {
  margin: 20px auto 50px auto;
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  justify-content: center;
}

.art_option {
  color: white;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
