.searchbar {
  width: 200px;
  height: 20px;
  border: 1px solid #fff;
  padding: 0 2px;
  border-radius: 2px;
  margin: 20px 0;
}
.magnifying_glass{
  font-size: 25px;
  padding-top:15px;
  display: inline-block;
}
