.playlist_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.user_greeting {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}

.user_instructions {
  color: #fff;
  font-size: 24px;
  margin: 0 auto 5px auto;
  font-weight: normal;
}

.horizontal_line {
  width:60%;
  border: 1px solid #fff;
  margin: 50px auto 10px auto;
}
