.player_container {
  padding:5px;
  margin: 10px auto 40px auto;
  background-color: #191414;
  width: 242px;
  text-align: left;
  border-radius: 50px;
  color: #fff;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 20px #556;
  border: 2px solid #ddd;
}

.left_section, .volume_section{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.volume_section {
  margin-right: 5px;
}

.player_play_border{
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #191414;
}

.player_play_border:hover{
  border: 1px solid #fff;
}
.player_play_border:active{
  border: 1px solid #191414;
}

.player_play {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 23px;
  display: inline-block;
  cursor: pointer;
}

.player_play svg, .player_skip svg, .player_vol_symbol svg, .rangeslider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  vertical-align: top !important;
}


.player_skip {
  width: 35px;
  height: 35px;
  font-size: 30px;
  cursor: pointer;
}

.player_skip_inactive {
  width: 35px;
  height: 35px;
  font-size: 30px;
  color: #aaa;
}

.player_skip:active {
  font-size: 28px;
}

.player_vol_symbol {
  font-size: 20px;
  width:25px;
  height:25px;
}

.player_vol_slider {
  display: inline-block;
  width:125px;
  height: 20px;
}

.rangeslider {
  margin: 0 !important;
  background: #fff !important;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 12px !important;
  height: 12px !important;
}

.rangeslider-horizontal {
  height: 2px !important;
  width: 90% !important;
}

.rangeslider-horizontal .rangeslider__handle:after {
  width: 0 !important;
  height: 0px !important;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #1db954 !important;
}
