/* spotify hex's
black: #191414
green:#1db954 */

.playlist_icon_container {
  margin: 20px 10px;
  padding: 10px;
  cursor: pointer;
}

.playlist_icon {
  margin: 20px;
  width: 250px;
  border-radius: 150px;
  transition: all .1s ease-in-out;
}

.playlist_title {
  font-size: 20px;
  color: #fff;
}

.playlist_icon:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px #434;
}

.playlist_icon:active {
  transform: scale(1.03);
  box-shadow: 5px 5px 20px #434;
}
