/* spotify hex's
black: #191414
green:#1db954 */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,#c074b2,#8ab5e8);
  font-family: -apple-system ,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helventica Neue,sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

html, body, .second_gradient {
  height: 200px;
  margin: 0;
}

.second_gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255,0,0,0));
  /* background:red; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
